<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ascendantbrain.android.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activities -->
        <activity
            android:name="com.ascendantbrain.android.bakingapp.ui.RecipeListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ascendantbrain.android.bakingapp.ui.StepListActivity"
            android:label="@string/title_step_list"
            android:parentActivityName="com.ascendantbrain.android.bakingapp.ui.RecipeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ascendantbrain.android.bakingapp.ui.RecipeListActivity" />
        </activity>

        <activity
            android:name="com.ascendantbrain.android.bakingapp.ui.StepDetailActivity"
            android:label="@string/title_step_detail"
            android:parentActivityName="com.ascendantbrain.android.bakingapp.ui.StepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ascendantbrain.android.bakingapp.ui.StepListActivity" />
        </activity>

        <!-- providers -->
        <provider
            android:name="com.ascendantbrain.android.bakingapp.provider.DatabaseProvider"
            android:authorities="com.ascendantbrain.bakingapp"
            android:enabled="true"
            android:exported="false" />

        <!-- receivers -->
        <receiver android:name="com.ascendantbrain.android.bakingapp.ui.IngredientWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredient_widget_info" />
        </receiver>

    </application>

</manifest>